@using FytMsys.Common
@{
    Layout = "../shared/_Layout.cshtml";
    var userId = FytRequest.GetQueryInt("userId");
}
<style>
    body {
        background-color: white;
    }
</style>
<div class="clearfix">
    <div class="mem_left">
        <ul class="">
            <li class="current"><a href="/FytAdmin/Member/UserDetail/@userId" target="memRight">会员信息</a></li>
            <li><a href="/FytAdmin/Member/LogIndex?userId=@userId" target="memRight">消息日志</a></li>
            <li><a href="/FytAdmin/Member/UserOauth?userId=@userId" target="memRight">第三方登录绑定</a></li>
            <li><a href="/FytAdmin/PointLog/Index?userId=@userId" target="memRight">积分日志</a></li>
            <li><a href="/FytAdmin/MoneyLog/Index?userId=@userId" target="memRight">财务日志</a></li>
        </ul>
    </div><!-- end -->
    <div class="mem_right">
        <iframe src="/FytAdmin/Member/UserDetail/@userId" id="memRight" name="memRight" width="100%" height="545" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
    </div><!-- end -->
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".mem_left ul li").click(function () {
                $(this).addClass("current").siblings().removeClass("current");
            });
        });
    </script>
}
