@{
    Layout = null;
    var ap = ViewBag.ap as string;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Html.Raw(ap)
    </div>
</body>
</html>
