@using FytMsys.Helper

@{
    var basicSite = WebSiteHelper.GetSite(1);
}
<div class="ul-foot clearfix">
    <div class="ul-f-copy">@Html.Raw(basicSite.SiteCopyright)  </div>
    <div class="col-md-3 col-xs-12 ul-f-nav" style="float: right">
        <a href="/category/about/summary">关于我们</a> | <a href="/category/about/lxwm">联系我们</a> | <a href="/category/help/shouce">帮助中心</a>
    </div>
</div>
